body {
  margin: 0;
  padding: 0;
  background-color: #000;
  text-align:center;
}
@font-face {
  font-family: 'Indigo';
  src: url('/assets/fonts/indigo.otf') format('opentype');
}
@font-face {
  font-family: 'Indigo Outline';
  src: url('/assets/fonts/indigo_outline.otf') format('opentype');
}
.bigtxt {
  font-size:325px;
  font-family: 'Indigo', sans-serif;
  color:white;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
